<div class="row">
	<div class="col-sm-12">
		<div class="sub-header">
			<h1 class="pull-left">Members</h1>
		</div>

		<table class="table table-bordered">
			<thead>
				<th>Name</th>
				<th>Email</th>
				<th colspan="3">Actions</th>
			</thead>
			<tbody class="member_table">

			</tbody>
		</table>
	</div>
</div>