<div class="row">
	<div class="col-sm-12">
		<div class="sub-header">
			<h1 class="pull-left">Members</h1>
			<div class="pull-right align-button">
				<%= link_to 'New Member', new_admin_member_path, class: 'btn btn-success' %>
			</div>
		</div>

		<table class="table table-bordered">
			<thead>
				<th>Name</th>
				<th>Email</th>
				<th colspan="3">Actions</th>
			</thead>
			<tbody class="member_table">
				<% @members.each do |member|  %>
					<tr>
						<td><%= member.name %></td>
						<td><%= member.email %></td>
						<td>Check in<%# link_to 'Check in', '/admin/members/check_in/' + member.id %></td>
						<td>Check out</td>
						<td><%= link_to 'Show Member', [member] %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>