<div class="row">
	<div class="col-sm-12">
		<div class="sub-header">
			<h1 class="pull-left">New Member</h1>
		</div>

		<%= form_for [@member], html: { class: 'form-horizontal' } do |f| %>
			<div class="box-body">
        <%= render partial: 'form', member: @member, locals: { f: f } %>
        <div class="box-footer">
          <%= f.submit 'Add New Member', class: 'btn btn-info' %>
          <%= link_to 'Cancel', admin_members_path, class: 'btn' %>
        </div>
        <%# if @member.errors.any? %>
       <!--  <div class="alert alert-danger" role="alert">
          <%# @member.errors.full_messages.each do |message| %>
          <li><%#= message %></li>
          <%# end %>
        </div> -->
        <%# end %>
      </div>
		<% end %>
	</div>
</div>