<div class="row">
	<div class="col-sm-12">
		<div class="sub-header">
			<h1 class="pull-left member_name"></h1>
		</div>
	</div>

	<div class="content-wrapper">
		<div class="col-sm-4">
			<div class="profile_picture">
				<img src="http://placehold.it/150x150" alt="">
			</div>
		</div>
		<div class="col-sm-8">
			<p>
				<strong>Name</strong>
				<br>
        <span class="member_name"></span>
			</p>
			<p>
				<strong>Email</strong>
				<br>
        <span class="member_email"></span>
			</p>
		</div>


		<div class="col-sm-12">
			<div class="box-footer">
				<%= link_to 'Back to list', admin_members_path, class: 'btn btn-success' %>
			</div>
		</div>
			
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
     getMemberVisits(<%= @memberId %>);
  });
</script>