/* - - - - Header - - - - */
.sub-header {
	margin-bottom: 20px;
	overflow: hidden;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}

.align-button {
	margin-top: 24px;
}

.box-footer	{
	margin-top: 15px;
	border-top: 1px solid #eee;
	padding-top: 15px;
}

.login_error {
	text-align: center;
	color: red;
}

.box-footer {
  margin-bottom: 50px;
}